<h2>ลงทะเบียนประชาชน</h2>
<form method="POST">
    รหัสบัตร: <input name="national_id">
    อายุ: <input name="age">
    สภาวะสุขภาพ: <select name="health_risk">
        <option value="0">ไม่เสี่ยง</option>
        <option value="1">เสี่ยง</option>
    </select>
    ประเภทประชาชน: <select name="citizen_type">
        <option value="GENERAL">ทั่วไป</option>
        <option value="RISK">กลุ่มเสี่ยง</option>
        <option value="VIP">VIP</option>
    </select>
    <button>บันทึก</button>
</form>
<hr>
{% for c in citizens %}
{{c[5]}} | อายุ {{c[2]}} ปี <br>
{% endfor %}